<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.dtapgames.apps.flatgamemaker">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/title"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/title_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="uk.co.dtapgames.apps.flatgamemaker.TitleScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".FlatgameEditor"
            android:screenOrientation="portrait"/>
        <activity android:name=".ClipEditor"/>
        <activity android:name=".PlayScreen"/>
    </application>
</manifest>
